@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
@font-face {
  font-family: Montserrat-regular;
  src: url("../font/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Montserrat-semibold;
  src: url("../font/montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-italic;
  src: url("../font/montserrat/Montserrat-Italic.ttf");
}
@font-face {
  font-family: Montserrat-bold;
  src: url("../font/montserrat/Montserrat-Bold.ttf");
}

@font-face{
    font-family: AdihausDIN;
    src: url("../font/729-font.ttf");
}


body{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    background-color: #fff;
}
h1{
    color:red;
}

hr{
    width: 100%;
    height: 2px;
    background-color: 909090;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    border-color: black;   
}

.header{
    padding: 15px 0;
}
.header .row > div{
    padding: 0;
}
.header i{
    font-size: 2rem;
    color: black;
    margin: 0 4px;
}
.header .bag{
    text-align: end;
    margin: 0 5px;
}
.header .menu .bi{
    font-size: 2rem;
}

.header .logo-section{
    text-align: center; 
}
.header .logo-section img{
    width: 250px;
}
.header .search{
    text-align: left;
    margin: 0 20px;
}
.header .container-fluid .row:last-child{
    margin-top: 10px
}
.header input{
    width: 100%;
    height: 35px;
    padding: 0 15px;
    color: #999999;
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
}
.header button{
    position: absolute;
    width: 20px;
    height: 30px;
    top: 2.5px;
    right: 40px;
    text-align: center;
    background: transparent;
    color: #353535;
    border: none;
}
.header button i.bi.bi-search{
    font-size: 16px;
    margin: 0;
    height: 30px;
    width: 20px;
}
.container-infos{
    background: #fff;
    margin-top: 20px;
    background-color: transparent;
}

.infos{
    text-align: center; 
}
.infos .bi::before{
    text-align: center;
    align-content: flex-start;
}
.infos i{
    font-size: 4rem;
    color: #e01f1f;

}
.infos h1{
    font-size: 18px;
    color: #e01f1f; 
    font-weight: 600;
}
.infos .row > div{
   padding: 10px 15px;
}
.infos .inf{
    border: 1px #272727 solid;
    width: 100%;
    padding: 15px 0;
    border-radius: 5px;
    border: ,;
    background-color: white;
}

.carousel .carousel-item > div {
    height: 300px;"
}
.carousel .bi{
    font-size: 25px;
    color: #e01f1f;
}


/********************************/
.dropdown{
    width: 60px;
}
.dropdown-content {
    width: 300px;
    display: none;
    position: absolute;
    top: -15px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 0 10px;
    width: 100%;
    display: block;
    text-align: left;
    background: #f7f7f7;
    border-bottom: 1px solid #D2D2D2;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 60px;
    text-transform: none;
    position: relative;
    color: #111;
    text-decoration: none;
}
.dropdown-content a .bi {
    color: blue;

}
.dropdown:hover .dropdown-content {
  display: block;
}
/**********************************/
/************ FEATURE *************/
/**********************************/
.section-header{
    padding: 20px 45px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.section-header h1{
    background-color: transparent;
    color: #e01f1f;
    text-align: center;
    font-size: 2.5rem;
    font-family: Montserrat-bold;
}
.hr-feature{
    width: 5%;
    height: 2px;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    border-color: #272727; 
}


/**********************************/
/******** Product Item CSS ********/
/**********************************/
.product-item {
    position: relative;
    display: inline-block;
}
.product-item{
    border: 1px #dddddd solid;
    border-radius: 5px;
    z-index: 999;
}
.product-item .product-title {
    text-align: center;
    background: #fff;
    transition: all .4s;
     padding: 10px;
}
.product-item:hover .product-title {

    background: #fff;
}
.product-item .product-title a {
    position: relative;
    width: 100%;

}
.product-item .product-title a {
    color: #222;
    font-size: 16px;
    font-family: Montserrat-semibold;
    font-weight: 900px;

}
.product-item .bi{
    position: relative;
    top: 10px;
    left: 10px;
    z-index: 1000;
    display: flex;
    height: 0px;
    font-size: 20px; 
}
.product-item .bi:hover{
    color: red;
}

.product-item .product-image {
    position: relative;
    overflow: hidden;
    min-width: 180px;
}

.product-item .product-image a {
    display: block;
    background: #fbfbfb;
    border-radius: 4px 4px 0px 0px;
    transition: .3s;
}

.product-item .product-image img {
    width: 100%; 
    transition: all .3s;
}

.product-item:hover .product-image a{
    background-color: #c6c6c6;
}
.product-item:hover .product-image img{
    opacity: 0.6; 
}

.product-item .product-price {
    padding: 10px 0;
    text-align: center;
    background: #fff;
    border-radius: 0 0 4px 4px;
    transition: all .3s;
}


.product-item .product-title h3 {
    font-size: 20px; 
    display: block;
    font-family: Montserrat-semibold;
    color: #e01f1f;
    margin: 5px 0;
    margin-block-end: 10px;

}

.product-item .product-title h3 span {
    font-size: 13px;
}
.product-item .product-price a{

}
.product-item .product-price .btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #e01f1f;
    padding: 10px 15px 15px 15px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    margin: 0 35px;
    border-radius: 40px;
}
.product-item:hover .product-price .btn{
    color: #fff;    
    bottom: 11px;
    opacity: 1;
    visibility: visible;
}


.product-item .product-price .btn i {
    margin-right: 15px;

}

.paginations{
    margin-top: 10px;
    margin-bottom: 60px; 
}
.paginations .page-item a{
    color: red;
    background-color: transparent;
    border: none;
    padding: 15px 10px;
}
.paginations a:hover{
    font-family: Montserrat-bold;
}
.hr-pag{
    width: 20px;
    height: 3px;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    border-color: #272727;   
}
.paginations .page-item a:hover .hr-pag{
    background-color: #272727;
    transition: all 0.3s
}

.visita .title-map{
    background-color: #fff;
    color: #fff;
    text-align: center;
    font-family: Montserrat-semibold;
    margin-bottom: 15px; 
}
.hr-visit{
    width: 100px;
    height: 3px;
    background-color: transparent;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 1px;
    border-color: #272727; 
}

.visita h1{
    color: #ff3137;    
}
.visita h2{
    margin-top: 10px;
    color: #272727;
    font-size: 25px;
}
.btn-visita {
    color: #272727;
    background: #fff;
    padding: 5px 15px;
    border-radius: 4px;
}

.btn-visita:hover,
.btn-visita:active,
.btn-visita:focus {
    text-decoration: underline;
    background: #fff;
    box-shadow: none;
}
.visita .places span{
    background: white;
}

.visite .map{
    margin-bottom: 30px;
}

.espace{
    padding-top: 15px;
    height: 2px;
    color: white;
}
.footer-line{
    width: 100%;
    height: 2px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    border-width: 2px; 
}
.footer-m{
    background-color: #272727;
}
.footer-m .about-m h1, .footer-m .contact-m h1{
    color: #fff;
    font-size: 15px;
    font-family: Montserrat-semibold;
    margin: 0;
    padding: 0 15px;
    display: inline-block;
}
.footer-m div:hover ul{
    display: block;
}
.footer-m li, .footer-m a,
.footer-m .cards h1{
    color: #fff;
    list-style:none;
    font-size: 15px;
    padding: 1px 0;
}
.footer-m ul{
    padding-inline-start: 10px;
    margin-block-end: 0em;
    display: none;
}
.footer-m div{
    padding: 15px 10px;
    margin: 0;
    border:1px #444 solid;    
}
.footer-m .contact-m i, .footer-m .about-m i{
    position: absolute;
    right: 35px;
    display: inline-block;
    color: #fff;
}
.footer-m .social-m, .footer-m .cards{
    text-align: center;
}
.footer-m .social-m li{
    display: inline-block;
    margin: 0 5px;
}
.footer-m .social-m ul{
    display: block;
}
.footer-m .social-m h1{
    color: #fff;
    font-size: 19px;
}
.footer-m .social-m i{
    font-size: 19px;
}
}


/*********************************************************************************************************/
/***************************************************SM****************************************************/
/*********************************************************************************************************/
@media (min-width: 576px) { 
    h1{
    color:blue;
}
.header .logo-section img{
    width: 270px;
}
.header .logo{
    width: 360px;
    
}

}

/*********************************************************************************************************/
/***************************************************MD****************************************************/
/*********************************************************************************************************/
@media (min-width: 768px) { 
    h1{
    color:green;
}
  
 }
/*********************************************************************************************************/
/***************************************************LG****************************************************/
/*********************************************************************************************************/
@media (min-width: 992px) { 
    h1{
    color:yellow;
}
.container-fluid{
    padding-left: 30px;
    padding-right: 30px;
}

/***************************/
/********TOP HEADER*********/
/***************************/
.fixed{
    position: fixed;
    top: 0px;
    z-index: 99999;
    background-color: #fff;
}
header{
    position: relative;
    display: flex;
    align-items: center;

}
.header-left{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% + 20px) / 4);
    max-width: calc((100% + 20px) / 4);
    margin: 0;
    height: 100%;
}
.active{
    color:#d43336;
}
.logo{
    display: block;
    flex-shrink: 0;
    min-height: 25px;
}
.logo img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
header .header-center{
        flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% + 20px) / 2 - 20px);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.header-center li{
    display: inline-block;
    padding: 0 10px;
    text-transform: capitalize;
    font-family: Montserrat-semibold;
    color: black;
}
.header-center li:hover{
    color:  #e01f1f;    
    transition: all 0.5s;
}
.header-center ul{
    margin: 10px 0;
    padding-inline-start: 0px;
}

.header-right {
    margin-left: auto;
    align-self: stretch;    
}
.header-left, .header-center, .header-right {
    display: inline-block;
    align-items: center;
}
.header-right div{
    display: inline-block;
}
.header-right .search{
    margin: 10px 0;
}
.header-right .search input{
    margin: 0 10px;
}
.header-right .search input:hover{

}

.header-right .search button{
    position: absolute;
    right: 63px;
    top: 13px;
    border: none;
    background-color: transparent;
}


/**************************/
/**********SLIDE***********/
/**************************/
.carousel{
    margin-top:50px; 
}
.carousel .carousel-item > div{
    height: 500px;
}

.section-header:hover .hr-feature{
    width: 25px;
    transition: all 0.5s;
}

.visita .title-map:hover .hr-visit{
    width: 55px;
    transition: all 0.5s;
}
.footer{
    padding: 10px 0;
    background-color: #272727;
}
.footer h1{
    color: #fff;
    font-size: 16px;
    font-family: Montserrat-semibold;
}
.footer .contact i{
    display: inline;
    color: #fff;
    margin: 0 5px;
}
.footer ul{
    padding-inline-start: 0px;
    display: block;
}
.footer h2{
    color: #fff;
    font-size: 14px;
    font-family: Montserrat-regular;
    display: inline;
}
.footer li{
    list-style:none;
}
.footer .social li{
    display: inline;
    margin: 0 5px;
}
.footer .social li .bi{
    font-size: 2rem;
    color: white;
}
.footer .cards{
    text-align: center;
}
.footer .about a{
    color: white;
    text-decoration: none;
}
.footer .about .bi{
    font-size: 0.9rem;
    margin: 0 5px;
}
.footer .cards img{
    display: inline;
}
.footer .cards h1{
    display: inline
}
.footer .dev h1{
    display: inline;
}
.footer .dev img{
    display: inline;
}
.footer .copy {
    text-align: right;
    
}
.footer .copy h1{
    margin: 20px 0 0 0;  
}
.footer .copy > div{
    padding: 0; 
}
.footer .cards, .footer .dev{
    text-align: left;
}


}

/*********************************************************************************************************/
/***************************************************XL****************************************************/
/*********************************************************************************************************/
@media (min-width: 1200px) { 
    h1{
    color:black;
}