body {
    background: #ffffff none repeat scroll 0 0;
    color: #687188;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}   

.product_box {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.product_img {
    position: relative;
    overflow: hidden;
}
.product_box .product_info {
    position: relative;
}
.product_info {
    padding: 15px;
}
.product .product_title, .product_box .product_title, .product_wrap .product_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
    color: #292b2c;
    font-family: 'Roboto';
}
.product_price {
    margin-bottom: 5px;
}
.pr_desc {
    display: none;
}
.product_box .add-to-cart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    background-color: #fff;
    padding: 10px 15px 15px 15px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}
.product_box:hover .add-to-cart {
    bottom: 0px;
    opacity: 1;
    visibility: visible;
}
.btn-fill-out {
    background-color: transparent;
    border: 1px solid #FF324D;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn-fill-out::before,
.btn-fill-out::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #FF324D;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    width: 51%;
}
.btn-fill-out::after {
    right: 0;
    left: auto;
}
.btn-fill-out:hover:before,
.btn-fill-out:hover:after {
    width: 0;
}
.btn-fill-out:hover {
    color: #FF324D !important;
}
.btn i {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 1;
}