a {
    font-family: 'Poppins';
}

p {
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: 'Poppins';
    letter-spacing: 0;
    color: #777;
}

header{
    position: relative;
    display: flex;
    align-items: center;
    background-color: red;
}
header .header-left{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% + 20px) / 4);
    max-width: calc((100% + 20px) / 4);
    margin: 0;
    height: 100%;
}
.logo{
    display: block;
    flex-shrink: 0;
    min-height: 25px;
}
.logo img {
    display: block;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
header .header-center{
        flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100% + 20px) / 2 - 20px);
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
.header-center li{
    display: inline-block;
}

.header-right {
    margin-left: auto;
    align-self: stretch;    
}
.header-left, .header-center, .header-right {
    display: flex;
    align-items: center;
}


