<div class="card col p-3 m-md-3 shadow blackborder">
    <div class="row align-items-start">
        <div class="col-lg-8 p-3">
            <img class="w-100 shadow-sm rounded" src="https://via.placeholder.com/400x250">
        </div>
        <div class="col-lg-4 p-3 row ">
            <div class="row ">
                <div class="col-12 p-4 d-block d-lg-none">
                    <h2>Nome do Produto</h2>
                </div>
                <div class="mx-2 col-12">
                    <h4 class="d-lg-block d-none text-white">Pagamento</h4>
                    <h4 class="d-block d-lg-none">Pagamento</h4>
                </div>
            </div>
            <div class="row">
                <div class="mx-2 mt-4 col-12 col-sm-6 col-md-6 col-lg-12 row">
                    <h3>
                        <span class="font-weight-normal" style="font-size:0.6em">R$ </span>
                        59,00
                        <span class="font-weight-normal" style="font-size:0.6em">12x R$ 8,00</span>
                    </h3>
                </div>
                <div class="row mx-2 mt-4 col-12 col-sm-5 col-md-5 col-lg-12">
                    <div class="col">
                        <div class="product-price-range">
                            <div class="dropdown">
                                <div class="dropdown-toggle" data-toggle="dropdown">
                                    <h5>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                            fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                                            <path
                                                d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                                        </svg>
                                        Envio para:
                                    </h5>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">Viana</a>
                                    <a href="#" class="dropdown-item">Penalva</a>
                                    <a href="#" class="dropdown-item">Vitória do Mearin</a>
                                    <a href="#" class="dropdown-item">R$151 até $200</a>
                                    <a href="#" class="dropdown-item">R$201 até $250</a>
                                    <a href="#" class="dropdown-item">R$251 até $300</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mx-2 mt-4 col-12 ">
                    <div class="col-12 col-sm-8 col-lg-12 offset-0 offset-sm-2 offset-lg-0">
                        <button type="button" class="btn btn-danger w-100 my-1 shadow-small">Comprar agora</button>
                        <button type="button" class="btn btn-outline-danger w-100 my-1 shadow-small">Adicionar ao
                            carrinho</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 row p-4">
            <div class="col-12 p-2 d-none d-lg-block">
                <h2>Nome do Produto</h2>
            </div>
            <div class="col-md-6 col-lg-4 p-2">
                <h5>Tamanhos:</h5>
                <div style="font-size:1.5em">
                    <span class="badge badge-danger shadow-sm mx-1">XL</span>
                    <span class="badge badge-danger shadow-sm mx-1">L</span>
                    <span class="badge badge-danger shadow-sm mx-1">M</span>
                    <span class="badge badge-danger shadow-sm mx-1">P</span>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 p-2">
                <h5>Cores:</h5>
                <div style="font-size:1.5em">
                    <span class="badge badge-danger shadow-sm mx-1">Vermelho</span>
                    <span class="badge badge-danger shadow-sm mx-1">Azul</span>
                    <span class="badge badge-danger shadow-sm mx-1">Verde</span>
                    <span class="badge badge-danger shadow-sm mx-1">Amarelo</span>
                    <span class="badge badge-danger shadow-sm mx-1">Dourado</span>
                </div>
            </div>
            <div class="col-lg-4 p-2 row">
                <h5 class="col-lg-6">Marca:</h5>
                <div class="col-12">
                    <img class="col-4 col-lg-7 w-100 shadow-sm rounded" src="https://via.placeholder.com/100x100">
                    <h6 class="col-4 col-lg-7 text-center">Nome Marca</h6>
                </div>
            </div>
            <div class="col-12 p-2">
                <h5>Descrição</h5>
                <p id="loremipsumhere" class="text-justify">

                </p>
            </div>
        </div>
    </div>
</div>
