<!-- INICIO INFO -->
<div class="container-infos container mb-5">
    <div class="infos">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card shadow rounded  inf">
                    <i class="bi bi-credit-card-2-back"></i>
                    <h1 style="min-height: 41px;">PARCELE EM ATÉ 12X</h1>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card shadow rounded inf">
                    <i class="bi bi-truck"></i>
                    <h1 style="min-height: 41px;">FAZEMOS ENTREGAS</h1>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card shadow rounded  inf">
                    <i class="bi bi-arrow-repeat"></i>
                    <h1 style="min-height: 41px;">7 DIAS PARA TROCAS</h1>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="card shadow rounded inf">
                    <i class="bi bi-chat-dots"></i>
                    <h1 style="min-height: 41px;">SUPORTE 24/6</h1>
                </div>
            </div>
        </div>
    </div>
</div>