<!-- INICIO SLIDE -->
<div id="carouselExampleControls" class="carousel slide shadow" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background: gray;"></div>
        </div>
        <div class="carousel-item">
            <div style="background: darkgray;"></div>
        </div>
        <div class="carousel-item">
            <div style="background: black;"></div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span aria-hidden="true"><i class="bi bi-caret-left-fill"></i></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span aria-hidden="true"><i class="bi bi-caret-right-fill"></i></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!-- FIM SLIDE -->