
<div class="espace ">
    <div class="footer-line"></div>
</div>

<footer class="footer-m d-lg-none d-xl-none">
    <div class="contact-m">
        <h1>Entre em contato</h1>
        <i class="bi bi-three-dots"></i>
        <ul>
            <li>Rua 7 de setembro, 285. Centro. Viana</li>
            <li>Rua Getúlio Vargas, 465. Centro. Penalva</li>
            <li>solarcalcadosga@gmail.com</li>
            <li>+55 98 8434-5201</li>
        </ul>
    </div>
    <div class="about-m">
        <h1>Informações</h1>
        <i class="bi bi-three-dots"></i>
        <ul>
            <li><a href="about.html">Sobre nós</a></li>
            <li><a href="#">Pagamento</a></li>
            <li><a href="#">Envio</a></li>
            <li><a href="#">Devolução</a></li>
        </ul>
    </div>
    <div class="social-m">
        <h1>Nossas socias:</h1>
        <ul>
            <li><a href="https://www.facebook.com/solar.calcadoss"><i class="bi bi-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/solar.calcados/"><i class="bi bi-instagram"></i></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=55559884345200&text=Ol%C3%A1.%20Vim%20pelo%20site"><i
                        class="bi bi-whatsapp"></i></a></li>
        </ul>
    </div>
    <div class="cards">
        <h1>Aceitamos:</h1>
        <img src="assets/img/cards.png">
    </div>
</footer>


<!-- MAPA -->

<!-- INICIO FOOTER -->
<footer class="footer container-fluid d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-4 contact">
                <h1>Entre em contato</h1>
                <ul>
                    <li><i class="bi bi-geo-alt"></i>
                        <h2>Rua 7 de setembro, 285. Centro. Viana</h2>
                    </li>
                    <li><i class="bi bi-geo-alt"></i>
                        <h2>Rua Getúlio Vargas, 465. Centro. Penalva</h2>
                    </li>
                    <li><i class="bi bi-envelope"></i>
                        <h2>solarcalcadosga@gmail.com</h2>
                    </li>
                    <li><i class="bi bi-telephone"></i>
                        <h2>+55 98 8434-5201</h2>
                    </li>
                </ul>
            </div>
            <div class="col-4 social">
                <h1>Nossas socias</h1>
                <ul>
                    <li><a href="https://www.facebook.com/solar.calcadoss" target="_blank"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="https://www.instagram.com/solar.calcados/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://api.whatsapp.com/send?phone=55559884345200&text=Ol%C3%A1.%20Vim%20pelo%20site" target="_blank">
                            <i class="bi bi-whatsapp"></i></a></li>
                </ul>
            </div>
            <div class="col-4 about">
                <h1>Informações</h1>
                <ul>
                    <li><a href="about.html"><i class="bi bi-chevron-right"></i>Sobre nós</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Pagamento</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Envio</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i>Devolução</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-4 cards">
                <h1>Aceitamos:</h1>
                <img src="assets/img/cards.png">
            </div>
            <div class="col-4 ">
            </div>
            <div class="col-4 dev">
                <h1>desenvolvido por:</h1>
                <h2>Amito</h2>
            </div>
        </div>
    </div>
    <div class="row mt-5 container-fluid">
        <div class="col text-center">
            <h1>Copyright © Amito ltds. All Rights Reserved</h1>
        </div>
    </div>
</footer>