<header class="header shadow d-lg-none d-xl-none">
    <div class="container-fluid">
        <div class="row">
            <div class="menu col-3 col-sm-2">
                <div class="dropdown">
                    <button class="dropbtn"><i class="bi bi-list"></i></button>
                    <div class="dropdown-content">
                        <a href="Products.html" style="font-family: Montserrat-semibolditalic;">Homem</a>
                        <a href="Products.html" style="font-family: Montserrat-semibolditalic;">Mulher</a>
                        <a href="Products.html" style="font-family: Montserrat-semibolditalic;">Kids</a>
                        <a href="Products.html" style="font-family: Montserrat-italic;">Esporte</a>
                        <a href="Products.html" style="font-family: Montserrat-italic;">Acessórios</a>
                    </div>
                </div>
            </div>
            <div class="logo-section col-9 mt-2 mt-sm-1 offset-sm-0 offset-0 offset-sm-0 col-sm-6 ">
                <a href="index.html"><img class="img-fluid" src="assets/img/logo.png"></a>
            </div>
            <div class="bag col-2 ">
                <a href="cart.html"><i class="bi bi-bag"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="search">
                    <input type="text" placeholder="Procurar...">
                    <button><i class="bi bi-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</header>

<header class="shadow container-fluid fixed d-none d-lg-flex d-xl-flex">
    <div class="header-left">
        <a class="logo" href="index.html">
            <img src="assets/img/logo-house.png">
        </a>
    </div>
    <div class="header-center">
        <div class="nav">
            <ul>
                <li class="active cursor-pointer"><a href="Products.html">homem</a></li>
                <li class="active cursor-pointer"><a href="Products.html">mulher</a></li>
                <li class="active cursor-pointer"><a href="Products.html">kids</a></li>
                <li class="active cursor-pointer"><a href="Products.html">esporte</a></li>
                <li class="active cursor-pointer"><a href="Products.html">acessórios</a></li>
            </ul>
        </div>
    </div>
    <div class="header-right">
        <div class="search">
            <input type="text" placeholder="Procurar...">
            <button><i class="bi bi-search"></i></button>
        </div>
        <div class="cart">
            <a href="cart.html"><i class="bi bi-bag"></i></a>
        </div>
    </div>
</header>