<div class="visita container-fluid">
    <div class="title-map">
        <h1>Venha nos visitar!</h1>
        <hr class="hr-visit" />
        <h2>Estamos em:</h2>
        <div class="places">
            <button class="btn btn-danger m-2">Viana</button>
            <button class="btn btn-danger m-2">Penalva</button>
        </div>
    </div>
    <div class="map" style='overflow:hidden;height:280px;width:100%;color: #0095eb'>
        <div id='gmap_canvas' style='height:280px;width:100%;'></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important
            }
        </style>
    </div>
</div>
<script src='https://maps.google.com/maps/api/js?key=AIzaSyDv7YRz1WWPhkr6aim8wEm4WDPBdk81z54'></script>
<script type="text/javascript" src="assets/js/google.js"></script>